
#nav{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    height: 50px;
}

.body{
    background-color: blue;
    color: blanchedalmond;
    height: 420px;
}

.footer{
    background-color: chartreuse;
    color: brown;
}