body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


#nav{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    height: 60px;
}

.body{
    background-color: blue;
    color: blanchedalmond;
    height: 420px;
}

.footer{
    background-color: chartreuse;
    color: brown;
}

.li{
    color: white;
    padding: 10px;
    
}

.li:hover{
    color: gray;
    cursor: pointer;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul{
    list-style-type: none;
    display: flex;
}

#little-champ{
    margin-left: 20px;
}